
:root {
    --primary: #97a4a8; 
    --secondary: #95989a;
    --text-color: #fff;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
  }
  
  * {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
  }
  
body {

    background-color: #f3e3d0;
}
.page-title {
    --primary: #97a4a8; 
    --secondary: #95989a;
    --text-color: #fff;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;

}

header {
    background-color: rgb(206, 168, 111);
     /* margin: -1px; */

}

h2 {
    color: #8E3200;
    margin: 10px auto 100px;
    padding-left: 10px;
    width: 80%;
    font-size: 16pt;
}

.page-sub {
    color: #6d351a ;
    margin: 40px auto 5px;
    margin-bottom: 30px;
    padding-left: 10px;
    width: 80%;
    font-size: 40pt;
    background-size: 500px;
    font-weight: bold;

}


/* */

main{
    color: black;
    font-size: 30px;
    text-indent: 15px;
    text-decoration: double;

    padding-left: 10px;
    height: 20px;
    width: 90vh;
    margin: 90px;
}



nav ul {
    float: right;
    margin-right: 80px;
    list-style: none;
    position: relative;
    display: flex;
    text-indent: 90px;
    padding: 15px;
    margin-top: 20px;
    
}
li a {
    color:#8E3200; 
    text-decoration: none;
    font-size: 20px;

}

 /* Footer */
 #footer {
    text-align: center;
    color: var(--secondary);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }